* {
  font-family: 'Satoshi', sans-serif;
  color: white;
}

.hide {
  display: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
}
nav {
  border-bottom: 7px solid rgba(255, 255, 255, 0.308);
}

body {
  height: 100vh;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);;
}

button {
  color: black;
  text-shadow: 0;
  width: 100%;
  margin: 3px;
  transition: all 0.2s ease-in-out;
}


button[type="submit"] {
  background-color: black;
  color: white;
}

button:hover {
  background-color: rgb(173, 78, 49);
  color: white;
  box-shadow: 3px 3px 5px rgb(3, 3, 3);

}

.work-feature-block-image {
  display: block;
  margin: auto;
}

.card-body {
  padding: 10px;
  border: 2px solid rgb(180, 118, 47);
}

#weatherData {
  border: 2px solid rgb(168, 118, 43);
}